<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage for static site</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome to static website</h1>
    <br>
    <br>
    <h2>List of favorite kits I built</h2>
    <br>
    <ul>
        <li>US NavyT2 Tanker 1/700</li>
        <li>US Navy Liberty Ship 1/700</li>
        <li>IJN Hiyo 1/700</li>
        <li>2 1/2 ton truck US Army 1/35</li>
        <li>M4A1 76mm Sherman tank US Army 1/35</li>
        <li>IJN Mayima 1/700</li>
        <li>Freighter 1/700</li>
        <li>US Navy Wasp class assault ship 1/700</li>
        <li>JMSDF Kirishima 1/700</li>
        <li>USS Pringle 1/700</li>
    </ul>
    <br>
    <br>
    <a href="/addList.html">Add to List</a>
    <br>
    <br>
    <a href="/login.html">Login</a>
    <br>
    <br>
    <p>I chose the topic because I build scale models as a hobby, 
        and while my collection is not the largest or most detailed, 
        I have a certain amount of pride in what I have done.

    </p>
    <!--<img src="image/what.JPG" alt="What" width="500" height="400">-->

    <script src="scripts/script.js"></script>
</body>
</html>